<div>
  <div class="col-sm-6 mx-auto p-4">
    <app-dealer
      [banderaInicio]="banderaInicio"
      [cartas]="jugada.cartasCroupier"
      [puntajeCroupier]="jugada.puntajeCroupier"
    ></app-dealer>
  </div>
  <div class="col-sm-6 mx-auto p-4">
    <app-player
      (onGetCard)="pedirCarta()"
      (onPlantarse)="plantarse()"
      (onReiniciar)="terminar()"
      [cartas]="jugada.cartasUsuario"
      [flagInicio]="banderaInicio"
      [puntajeUsuario]="jugada.puntajeUsuario"
    ></app-player>
  </div>
</div>
