<div class="row">
  <div>
    <p class="marcador">vos : {{ puntajeUsuario }}</p>
  </div>
</div>
<div class="row">
  <div class="col" *ngFor="let c of cartas">
    <img [src]="c.img" [alt]="c.valorJuego" width="100px" />
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="grupo-botones">
      <button [disabled]="bloquear" [ngClass]="{'brillo-hover' : !bloquear}" (click)="getCard()">pedir carta</button>
      <button [disabled]="bloquear" [ngClass]="{'brillo-hover' : !bloquear}" (click)="plantarse()">plantarse</button>
      <button [disabled]="!bloquear" [ngClass]="{'brillo-hover' : bloquear}" class="brillo-hover" (click)="reiniciar()">terminar</button>
      <button class="brillo-hover" (click)="salir()">salir</button>
    </div>
  </div>
</div>

