<div class="row align-items-center justify-content-center">
  <div class="col-sm-4 p-4 text-center">
    <h1>
      <span class="titulo titulo-1">black</span
      ><span class="titulo titulo-2">jack</span
      ><span class="titulo titulo-3">.</span>
    </h1>
  </div>
  <div *ngIf="route.url != '/'" class="col-sm-2 text-center d-flex">
    <button (click)="salir()" class="brillo-hover">Inicio</button>
  </div>
  <div *ngIf="route.url != '/'" class="col-sm-2 text-center d-flex">
    <button (click)="cerrarSesion()" class="brillo-hover w-75">Cerrar Sesión</button>
  </div>
</div>
